<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/chat" class="brand-logo center"><img class="responsive-img" src="{{ asset('img/cat.gif') }}"></a>
            {% if app.request.get('_route') == 'chat' %}
                <ul class="left hide-on-med-and-down">
                    <li><a href="/chat"><i class="material-icons">loop</i></a></li>
                </ul>
            {% endif %}
            <ul class="right hide-on-med-and-down">
                <li> Welcome <strong>{{ name }}</strong>,</li>
                <li><a href="/">Disconnect</a></li>
            </ul>
        </div>
    </nav>
</div>